h1 {
    text-align: center;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-flow: row wrap;
  color: #FFFFFF;
}

.articlecell {
  position: relative;
  max-width: 40%;
  min-height: 250px;
  padding: 20px;
  margin: 10px;
}

.title, .descriptionblock {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
/*
.titleblock, .descriptionblock {
  background-color: #C0C0C0;
  opacity: 0.7;
} */

.readmore {
  position: absolute;
  top: 90%;

}

@media (max-width: 650px) {
  .articlecell {
    min-width: 280px;
    max-width: 100%;
  }
}
